body {
    margin: 0px;
    background-image: url("./Fundo1.png");
}

#header {
    background-color: black;
    height: 13vh;
    margin: 0px;
}

#meio {
    height: 74vh;
    margin: 0px;
}

#footer {
    background-color: black;
    height: 13vh;
    margin: 0px;
}

#logo {
    background-color: black;
    background-image: url("./Logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    height: 13vh;
    width: 22.5vw;
    margin: 0px;
    float: left;
    color: white;
}

#navegacao {
    background-color: black;
    height: 13vh;
    width: 62.91vw;
    float: right;
    color: white;
}

#filtroEspaco {
    height: 74vh;
    margin: 0px;
    padding: 0px;
    width: 24vw;
    float: left;
}

#filtro {
    background-color: black;
    height: 50vh;
    width: 19vw;
    margin: 0px;
    padding: 0px;
    border-radius: 2vw;
}

#loginEspaco {
    background-color: black;
    height: 55vh;
    width: 30vw;
    margin: 0px;
    padding: 0px;
    border-radius: 2vw;
    color: white;
}

#produtosEspaco {
    height: 74vh;
    margin: 0px;
    padding: 0px;
    width: 74.1vw;
    float: right;
}

#produtos {
    background-color: black;
    height: 65vh;
    width: 70vw;
    margin: 0px;
    padding: 0px;
    border-radius: 2vw;
    overflow-x: auto;
    display: flex;
    align-items: center;
}

#login {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;

}

.centralizado {
    display: flex;
    align-items: center;
    justify-content: center;
}

.produtos {
    background-color: white;
    width: 20vw;
    height: 55vh;
    min-width: 20vw;
    border-radius: 2vw;
    margin: 1vw;
    display: inline-block;
}

.navegacao {
    margin-right: 1vw;
    padding-right: 1vw;
    border-right: solid;
    color: white;
    text-decoration: none;
    border-color: white;
    border-width: 0.2.5vw;
    font-size: 1.5vw;
    font-family: "Bebas Neue", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    font-weight: bold;
}

.atual {
    color: #B2C9F1;
}
